<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="form">
          <div class="form-group">
              <label for="application">Application</label>
              <input type="text" 
                      class="form-control" 
                      id="application" 
                      aria-describedby="app" 
                      formControlName="application">
              <small id="apptext" class="form-text text-muted">
                Just the name of an app with the username and password below.
              </small>
          </div>
          <div *ngIf="application.touched && application.invalid" class="alert alert-danger">
            <small *ngIf="application.errors.required" class="form-text text-muted">Application name is required</small>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" 
                    class="form-control" 
                    id="username" 
                    aria-describedby="usernameHelp" 
                    formControlName="username">
            <small id="emailHelp" class="form-text text-muted">
              We'll never share your email with anyone else.
            </small>
          </div>
          <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            <small *ngIf="username.errors.required" class="form-text text-muted">username is required</small>
            <small *ngIf="username.errors.cannotContainSpace" class="form-text text-muted">username name cannot include space</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" 
                    class="form-control" 
                    id="Password" 
                    formControlName="password">
            <small id="pskInfo" class="form-text text-muted">
              Your password is protected lol
            </small>
          </div>
          <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
            <small *ngIf="password.errors.required" class="form-text text-muted">Password is required</small>
          </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>
  </div>
</div>